# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# LaTeX
*.aux
*.log
*.out
*.toc
*.synctex.gz
*.fdb_latexmk
*.fls

# VS Code
.vscode/

# Windows
Thumbs.db
Desktop.ini

# for test
test_main.ipynb
draft.py
